<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>RxLOCUMS</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link
      href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
    {% load static %}

    <title>RXLOCUMS</title>
    <!-- Favicon -->
    <link href="{% static 'rxApp/img/favicon.ico' %}" rel="icon" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'rxApp/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="{% static 'rxApp/css/style.css' %}" rel="stylesheet" />

    <!-- JavaScript -->
    <script src="{% static 'rxApp/js/script.js' %}"></script>

    <!-- Cursor -->
    <style>
      body {
        cursor: url('{% static "rxApp/img/download.png" %}'), auto !important;
      }
    </style>
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="container-fluid py-5">
      <div class="container">
        <div class="row gx-5">
          <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 300px">
            <div class="position-relative h-100">
              <img
                class="position-absolute w-100 h-100 rounded"
                src="{% static 'rxApp/img/Images/hospitalimage1.jpeg' %}"
                style="object-fit: cover"
              />
            </div>
          </div>
          <div class="col-lg-7">
            <p style="font-size: larger">
              RxLOCUMS understands the critical role that healthcare facilities have in delivering quality healthcare, and we're here to support you every step of the way. We are committed to providing hospitals and practices with a trustworthy, efficient, and transparent platform for their temporary staffing needs.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-5">
      <div class="container">
        <div class="text-center my-2">
          <h5
            class="d-inline-block text-primary text-uppercase border-bottom border-5"
          >
            Services
          </h5>
        </div>
        <div class="row g-5">
          <div class="col-lg-4 col-md-6">
            <div
              class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
            >
              <div class="service-icon mb-4">
                <!-- <i class="fa fa-2x fa-money-bill-alt text-black"></i> -->
                <img
                  src="{% static 'rxApp/img/Costefficiency.jpeg' %}"
                  alt="logo"
                  width="100"
                  height="100"
                />
              </div>
              <h4 style="font-weight: 400" class="mb-3">Cost-Efficiency</h4>
              <p class="m-0 text-justify">
                RxLOCUMS is committed to offering cost-effective staffing solutions without compromising on the quality of healthcare. Hospitals and practices can optimize their budgets by accessing our pool of clinicians, ensuring they get the right help at the right cost.
              </p>
              <a class="btn btn-lg btn-primary rounded-pill" href="">
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div
              class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
            >
              <div class="service-icon mb-4">
                <!-- <i class="fa fa-2x fa-handshake text-black"></i> -->
                <img
                  src="{% static 'rxApp/img/Reliablepartnerships.jpeg' %}"
                  alt="logo"
                  width="100"
                  height="100"
                />
              </div>
              <h4 style="font-weight: 400" class="mb-3">
                Fill Staffing Gaps Quickly
              </h4>
              <p class="m-0">
                Our team is here to rapidly match healthcare facilities with qualified clinicians to fill immediate staffing needs. This agility is particularly valuable in urgent situations where a facility needs immediate coverage to maintain operations and patient care standards.
              </p>
              <a class="btn btn-lg btn-primary rounded-pill" href="">
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div
              class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
            >
              <div class="service-icon mb-4">
                <!-- <i class="fa fa-2x fa-bolt text-black"></i> -->
                <img
                  src="{% static 'rxApp/img/Rapidstaffingsolutions.jpeg' %}"
                  alt="Tailoredopportunities"
                  width="100"
                  height="100"
                />
              </div>
              <h4 style="font-weight: 400" class="mb-3">
                Address Seasonal Demand
              </h4>
              <p class="m-0">
                Healthcare facilities often experience fluctuations in patient volumes due to seasonal factors or community events. Locums can help address increased demand during busy periods, ensuring that facilities can meet the needs of their patient populations.
              </p>
              <a class="btn btn-lg btn-primary rounded-pill" href="">
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h5 class="text-center" style="font-weight: lighter">
        Engage with Us Today
      </h5>

      <div class="row justify-content-center">
        <div class="col-12 col-lg-12">
          <div class="bg-white rounded p-2 m-5 mb-0">
            <form method="post" enctype="multipart/form-data">
              {% if messages %}
              <div class="alert alert-primary" role="alert">
                {% for message in messages %} {{ message }} {% endfor %}
              </div>
              {% endif %} {% csrf_token %}
              <div class="row g-3">
                <div class="col-12 col-sm-6">
                  <input
                    name="fullname"
                    type="text"
                    class="form-control bg-light border-0"
                    placeholder="Your Name"
                    style="height: 55px"
                    required
                  />
                </div>
                <div class="col-12 col-sm-6">
                  <input
                    name="email"
                    type="email"
                    class="form-control bg-light border-0"
                    placeholder="Your Email"
                    style="height: 55px"
                    required
                  />
                </div>
                <div class="col-12">
                  <input
                    name="phone"
                    type="number"
                    class="form-control bg-light border-0"
                    placeholder="Contact Number"
                    style="height: 55px"
                    required
                  />
                </div>
                <div class="col-12">
                  <input
                    name="address"
                    type="text"
                    class="form-control bg-light border-0"
                    placeholder=" Address"
                    style="height: 55px"
                    required
                  />
                </div>

                <div class="col-12">
                  <textarea
                    name="message"
                    class="form-control bg-light border-0"
                    rows="5"
                    required
                    placeholder="To better understand and address your needs, could you kindly share the specific assistance you require? "
                  ></textarea>
                </div>
                <div class="col-12">
                  <label for="fileupload" class="my-2">Upload Resume</label>
                  <input
                    required
                    type="file"
                    name="resume"
                    id="attachment"
                    class="form-control bg-light border-0 w-full h-full"
                    multiple
                  />
                  <p id="files-area">
                    <span id="filesList">
                      <span id="files-names"></span>
                    </span>
                  </p>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary w-100 py-3" type="submit">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
    <!-- Footer End -->
    <!-- Template Javascript -->

    <script>
      // Get the current URL
      var url = window.location.pathname;

      // Remove the trailing slash if there is one
      if (url.endsWith("/")) {
        url = url.slice(0, -1);
      }

      // Get the last part of the URL (after the last slash)
      var page = url.substr(url.lastIndexOf("/") + 1);

      // Map the last part of the URL to the corresponding link ID
      var linkId;
      switch (page) {
        case "":
          linkId = "home-link";
          break;
        case "hospitals":
          linkId = "hospitals-link";
          break;
        case "physicians":
          linkId = "physicians-link";
          break;
        case "nurses":
          linkId = "nurses-link";
          break;
        case "telemedicine":
          linkId = "telemedicine-link";
          break;
        case "visa":
          linkId = "visa-link";
          break;
        case "contact":
          linkId = "contact-link";
          break;
      }

      // Remove the 'active' class from all links
      var navLinks = document.querySelectorAll(".nav-link");
      navLinks.forEach(function (link) {
        link.classList.remove("active");
      });

      // Add the 'active' class to the corresponding link
      if (linkId) {
        document.getElementById(linkId).classList.add("active");
      }
    </script>
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script>
      const dt = new DataTransfer(); // Permet de manipuler les fichiers de l'input file
      $("#attachment").on("change", function (e) {
        for (var i = 0; i < this.files.length; i++) {
          let fileBloc = $("<span/>", { class: "file-block" }),
            fileName = $("<span/>", {
              class: "name",
              text: this.files.item(i).name,
            }),
            deleteButton = $(
              '<span class="file-delete"><span><i class="fas fa-times"></i></span></span>'
            ); // Create delete button here

          // Attach event handler to delete button
          deleteButton.on("click", function () {
            let name = $(this).siblings("span.name").text(); // Get the name of the file to be removed

            // Remove the file from dt
            for (let i = 0; i < dt.items.length; i++) {
              let file = dt.items[i].getAsFile();
              if (file.name === name) {
                dt.items.remove(i);
                break;
              }
            }

            // Remove the file block from the DOM
            $(this).parent().remove();
          });

          fileBloc
            .append(fileName) // Append fileName first
            .append(deleteButton); // Then append delete button
          $("#filesList > #files-names").append(fileBloc);
        }
        // Ajout des fichiers dans l'objet DataTransfer
        for (let file of this.files) {
          dt.items.add(file);
        }
        // Mise à jour des fichiers de l'input file après ajout
        this.files = dt.files;
      });
    </script>
  </body>
</html>
